.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: var(--footer-clr);
    font-weight: 300;
    margin-top: 20px;
}
@media only screen and (max-width: 600px) {
    .copyright{
        font-size: 14px;
        width: 430px;
    }
}